.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head1{
  text-align: left;
  margin-left: 50px;
}

table {
  border-collapse: collapse;
  border-spacing: 5px;
  border-radius: 5%;
  /* margin-top: 100px; */
  
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

th, td {
  width: 25%;
  text-align: center;
  padding: 8px;
}

td{
  background-color: #b8f1fc;
}

th{
  background-color: #2198c4;
  color: white;
  width:25%;
}